<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <% include partials/_head %>
  </head>

  <body>
      <div class="front-header">
          <h1>Ordo</h1>
          <p>Quick & easy food orders</p>
          <div class="front-logins">
          <div class="login-btn">
              <input type="button" class="show-login" value="Login">
            </div>
            <div class="register-btn">
              <input type="button" class="show-register" value="Register">
            </div>
          </div>
      </div>

  <div id="front-nav">
      <h1>Ordo</h1>
      <div class="front-logins">
      <div class="login-btn">
          <input type="button" class="show-login" value="Login">
        </div>
        <div class="register-btn">
          <input type="button" class="show-register" value="Register">
        </div>
      </div>
  </div>

    <div class="container">


    <div class="login-form">
      <div class="close">X</div>
      <h3>Login</h3>
      <form class="login" action="/user/login" method="POST">
        <div>
          <label for="email">Email:</label>
          <input type="email" name="email">
        </div>
        <div>
          <label for="password">Password:</label>
          <input type="password" name="password">
        </div>
        <input type="submit" value="Submit">
      </form>
    </div><!--/user-login-->


    <div class="registration-form">
      <div class="close">X</div>
      <h3>Register</h3>
      <form class="register" action="/user/register" method="POST">
        <div>
          <label for="email">Email:</label>
          <input type="email" name="email">
        </div>
        <div>
          <label for="password">Password:</label>
          <input type="password" name="password">
        </div>
        <div>
          <label for="confirm-password">Confirm password:</label>
          <input type="password" name="confirm-password">
        </div>
        <input type="submit" value="Submit">
      </form>
    </div><!-- /registration-form -->


  <h2>This HOMEPAGE shows restaurant list</h2>


    <!--loop through restaurant db -->
  <% results.forEach((restaurant) => { %>
    <div class="restaurant-preview">
      <p>Restaurant one info</p>

        <h2><%= restaurant.name %></h2>
        <p><%= restaurant.type %></p>
        <p><%= restaurant.address %></p>
        <img src="/img/<%=restaurant.picture %>">
        <p><%= restaurant.description %></p>

    </div>
  <% }) %>

  <h3>My Google Maps Demo</h3>
    <div id="map" style="width:70%;height:300px;"></div>


    <script type="text/javascript" src="/scripts/map.js"></script>



    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDri5VzKdWxHuq8mQGVTt49oDxdqb_rasE&callback=initMap">
    </script>

  </div><!--/container-->

  </body>
</html>
