<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head %>
    <title>Home Page</title>
  </head>

  <body id="user-current">
      
    <% include partials/_nav %>
    <div class="container">


  <h2>Your Current Orders</h2>


  <table style="width:100%">
  <tr>
    <th>Order Number</th>
    <th>Dish</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Restaurant Name</th>
    <th>Restaurant Address</th>
  </tr>

  <% table.forEach((obj) => { %>
    <tr class="order">

        <td><%= obj.id %></td>
        <td><%= obj.item_name %></td>
        <td><%= obj.quantity %></td>
        <td><%= obj.price %></td>
        <td><%= obj.name %></td>
        <td><%= obj.address %></td>
    </tr>
  <% }) %>




</table>

<form class="history" action="history" method="GET" >

  <input type="submit" value="Your Order History">

</form>

  </div><!--/container-->
  <% include partials/_footer %>
  </body>
</html>
